* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-logo: #F5F5F5;
  --white-add: rgba(255, 255, 255, 0.5);
  --white-items: #FFFFFF;
  --white-border: #FFFFFF;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(116.82deg, #0C0C0C 0%, #242424 52.6%, #000000 100%);
  background-size: cover;
  background-position: center center;

  padding: 0 1rem;
}

span.logoWrapper {
  position: absolute;
  width: 140px;
  height: 36px;
  left: 2rem;
  top: 1.375rem;

  color: var(--white-logo);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

main {
  width: 100%;
  max-width: 912px;
  margin-top: 8.625rem;
  /* background-color: rgb(22, 22, 83); */
}

section.addLine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;

  height: max-content;
  max-height: 71px;

  color: var(--white-add);
  font-weight: 600;
  font-size: 0.875rem;
  /* font-size: 1.25rem; */

  border: 0.5px solid var(--white-border);
  border-radius: 16px;
  backdrop-filter: blur(42px);
  padding: 0.5rem 0.875rem;
}

.addButton {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 0;

  color: var(--white-items);
  font-size: 2.25rem;
  font-weight: 700;

  background: radial-gradient(76.75% 76.75% at 70% 23.25%, #D255DD 0%, #6709DF 100%)
}